# Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Docker-related files
*.log
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# Ignore environment files (contains sensitive API keys)
.env

# Ignore input/output data/persistent storage
input_folder/*
output_folder/*
checked_ips.csv

# Ignore IDE-specific files
.idea/
.vscode/
