# Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Docker-related files
*.log
docker-compose.override.yml

# System files
.DS_Store
Thumbs.db

# Ignore environment files (contains sensitive API keys)
.env

# Ignore files inside input/output folders, but keep the folders
input_folder/*
output_folder/*

# Un-ignore the .gitkeep file
!input_folder/.gitkeep
!output_folder/.gitkeep

# Ignore checked_ips.csv
checked_ips.csv

# Ignore IDE-specific files
.idea/
.vscode/
